<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DVDs</title>
</head>
<body>
	<h1>DVD Library</h1>
	<hr>
	<a href="./InputDvdIdPage">Search Dvd By ID</a>
	<br>
	<br>
	<a href="./InputDvdTitlePage">Search Dvd By Title</a>
	<br>
	<br>
	<a href="./showAllDvds">Show All Dvds</a>
	<br>
	<br>
	<a href="./InputDvdDetails">Add New Dvd</a>
	<br>
	<br>
	<a href="./InputDvdIDPageForDelete">Delete Dvd</a>
	<br>
	<br>
	<a href="./InputDvdDetailsPageForUpdate">Update User Ratting</a>
</body>
</html>