<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DVDs</title>
</head>
<body>
	<h1>DVD Library</h1>
	<hr>
	<table border="1">
		<tr>
			<th>DVD ID</th>
			<th>DVD title</th>
			<th>DVD MPAA Rating</th>
			<th>DVD Director Name</th>
			<th>DVD Studio</th>
			<th>DVD User Rating</th>
		</tr>
		<tr>
			<td th:text="${dvd.dvdId}"></td>
			<td th:text="${dvd.title}"></td>
			<td th:text="${dvd.mpaaRating}"></td>
			<td th:text="${dvd.directorName}"></td>
			<td th:text="${dvd.studio}"></td>
			<td th:text="${dvd.userRating}"></td>
		<tr>
	</table>
	<br>
	<br>
	<a href="/">Go to the Main Page</a>
	<br>
	<br>
	<a href="./InputDvdIdPage">Search for Another Dvd ID</a>
</body>
</html>