<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hello DI004 Batch!</h1>

	<!-- in the tag below we make use of thymeleaf attribute (represented by th:text), the syntax for the dynamic content will be "&{nameOfTheVariable}" that you can find on your GreetController.java -->
	<h2 th:text="${message}"></h2>

	<!-- Add the Mapping Handler to /first-->
	<a href="./first">Click Me Please!!</a>
	<br>
	<br>
	<!-- Add the Mapping Handler to the home page-->
	<a href="/">Go Back</a>
</body>
</html>